#Navbar {
  padding: 20px 0;
}
#navbar_button {
  padding: 10px 30px;
  font-size: 16px;
  background: transparent;
  border: 1px solid #a82d49;
  border-radius: 50px;
  color: #a82d49;
  cursor: pointer;
  transition: 0.3s;
}
#navbar_button:hover {
  background-color: #a82d49;
  color: #f7ebef;
}
.Navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #a82d49;
}

.navbar_search_icon {
  position: relative;
}
.navbar_search_icon .dot {
  position: absolute;
  min-height: 10px;
  min-width: 10px;
  background-color: #a82d49;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
